#quote-box {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background-color: #fff;
    width: 35em;
    border-radius: 0.5em;
    padding: 2em;
}

#text {
    display: flex;
    justify-content: center;
    gap: 0.3em;
    font-size: 2em;
}

#author {
    text-align: right;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 0.5em;
}

.button {
    background-color: #333;
    color: white;
    padding: 0.5em;
    border-radius: 3px;
    cursor: pointer;
}

#new-quote {
    display: flex;
    align-items: center;
    font-size: 12px;
}

@media only screen and (max-width: 686px){
  #quote-box {
    width: 15em;
  }

  #text {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #text>:nth-child(1){
    font-size: 2.5rem;
  }
}
