#quote-box {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background-color: #fff;
    width: 35em;
    border-radius: 0.5em;
    padding: 2em;
}

#text {
    display: flex;
    justify-content: center;
    gap: 0.6em;
    font-size: 2em;
}

#author {
    text-align: right;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 1em;
}

.button {
    background-color: #333;
    color: white;
    padding: 0.5em;
    border-radius: 3px;
    cursor: pointer;
}

#new-quote {
    font-size: 12px;
}